.table-header {
    font-weight: bolder;
    background-color: #d7dde8;
}

.airport-details .table-header {
    background-color: #1e2838;
    color: white;
}

.btn-group>.btn {
    margin-bottom: 10px;
}

tbody tr:nth-child(even) {
    background: #eaebed;
}

.icao-column {
  font-weight: bolder;
}

.back-table-link {
  font-weight: bold;
}

.loading-screen {
  padding-top: 50px;
}

.airport-header {
  text-decoration: underline;
}

.post-comment-input:not(:first-of-type) {
  padding-top: 10px;
}

.post-comment-input:not(:last-of-type) {
  padding-bottom: 5px;
  border-bottom: 1px solid #c6c6c6;
}

.post-input, .comment-input {
  margin-right: 10%
}

.comment-input {
  padding-top: 5px;
  margin-left: 5%;
}

.post-textarea, .comment-textarea {
  resize: none;
  width: 100%;
  height: 50px;
}

.edit-button, .delete-button {
  border-radius: 5px !important;
}

.edit-button {
  margin-right: 10px;
}
