.table-header {
    font-weight: bolder;
    background-color: #d7dde8;
}

.airport-details .table-header {
    background-color: #1e2838;
    color: white;
}

.btn-group>.btn {
    margin-bottom: 10px;
}

tbody tr:nth-child(even) {
    background: #eaebed;
}

.icao-column {
  font-weight: bolder;
}

.back-table-link {
  font-weight: bold;
  padding-top: 40px;
  text-align: center !important;
}

.loading-screen {
  padding-top: 50px;
}

.airport-header {
  text-decoration: underline;
  display: inline-block !important;
}

.post-comment-input, .post-input {
  overflow: hidden;
}

.post-comment-input {
  padding-top: 10px;
}

.post-input, .comment-input {
  margin-right: 10%
}

.comment-input {
  padding-top: 5px;
  margin-left: 5%;
}

.post-textarea, .comment-textarea {
  resize: none;
  width: 100%;
  height: 50px;
}

.post-locked-area, .comment-locked-area {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #e0e1e2;
}

.edit-button, .delete-button, .add-comment-button, .save-comment-button, .cancel-comment-button, .add-post-button {
  border-radius: 5px !important;
}

.edit-button, .save-comment-button {
  margin-right: 5px;
}

.add-comment-buttons, .add-post-buttons {
  float: right !important;
}

.home-button-alignment {
  margin-left: 15px;
  vertical-align: baseline;
}

.glyphicon-star {
  color: #afb200;
  font-size: 2.5em;
  font-weight: bold;
}

.no-posts-notification {
  font-style: italic;
  margin-top: 10px;
}
