.table-header {
    font-weight: bolder;
    background-color: #d7dde8;
}

.airport-details .table-header {
    background-color: #1e2838;
    color: white;
}

.btn-group>.btn {
    margin-bottom: 10px;
}

tbody tr:nth-child(even) {
    background: #eaebed;
}

.icao-column {
  font-weight: bolder;
}

.back-table-link {
  font-weight: bold;
}
