{% extends 'base.html' %}

{% block head_includes %}
    <title>PrepAir Register</title>
{% endblock %}

{% block content %}
    <div class="container register-form">
        {% if errors %}
            {% for error in errors %}
                <h1 class='bg-warning text-center'>{{ error }}</h1>
            {% endfor %}
        {% endif %}

        {% if registered %}
            <h1>Thank you for signing up!</h1>
            <h2><a href="{% url 'accounts:login' %}">Login here</a></h2>
        {% elif user.is_authenticated %}
            <h1>You are already registered and logged in.</h1>
            <h2><a href="{% url 'accounts:logout' %}">Logout</a> to register another account.</h2>
        {% else %}
            <div class="register-container">
                <h1>Please Register Below</h1>
                <form method="post">
                    {% csrf_token %}
                    {{member_form.as_p}}
                    <div class="register-btn">
                        <input class="btn btn-primary" type="submit" name="" value="Sign Up">
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}