body {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: 'Open Sans',sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2.0em !important;
    padding-bottom: 10px !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.25em !important;
}

h4 {
    font-size: 1.1em !important;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.bold-text {
    font-weight: bold;
}

.navbar li a {
    color: white !important;
}

.navbar li p {
    color: white !important;
    line-height: 50px;
    font-style: italic;
}


.navbar li a:hover {
    color: lightgray !important;
}

span.glyphicon-plane {
    font-size: 1.5em;
    font-weight: bold;
    color: orange;
}

span.glyphicon-plane:hover {
    color: darkorange;
}

span.glyphicon-wrench {
    font-size: 1.5em;
    font-weight: bold;
}

.main-header {
    padding-top: 10px;
}

.sub-header {
    padding-bottom: 20px;
    border-top: 1px solid #c6c6c6;
}

.input-box input {
    width: 200px;
    margin-bottom: 3px;
}

.main-btn input {
    margin-top: 10px;
    width: 200px;
    background-color: #1d3863;
}

.small-text {
    font-size: 0.85em;
    font-style: italic;
}

.banner-header {
    margin-bottom: 0px !important;
}

.disclaimer {
    margin-top: 50px;
}

.register-btn input {
    margin-top: 10px;
    width: 100%;
    background-color: #1d3863;
}

.register-container {
    margin: auto;
    width: 300px;
}

.login-input {
    margin-bottom: 10px;
}

.large-inline {
    font-weight: bold;
    font-size: 2.0em;
    vertical-align: bottom;
}

.home-airport-index {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 10px;
}
