{{#models-table
  data=model.airports
  columns=columnsForDataTable
  showComponentFooter=true
  showColumnsDropdown=true
  useFilteringByColumns=false
  showGlobalFilter=false
  doFilteringByHiddenColumns=false
  useNumericPagination=true
  filteringIgnoreCase=false
  multipleColumnsSorting=false
  showPageSize=true
as |mt|}}
  <div class="emt-column-dropdown">
    {{mt.columns-dropdown}}
  </div>
  <div class="emt-table">
    {{mt.table}}
  </div>
  <div class="emt-footer">
    {{mt.footer}}
  </div>
{{/models-table}}