{% extends 'base.html' %}
{% load static %}

{% block head_includes %}
    <title>PrepAir</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'mydist/assets/vendor-52b14d375b4eb06d5d3284bda92f4e67.css' %}">
    <link rel="stylesheet" href="{% static 'mydist/assets/dashboard-95e167c2593bc41bd9a58d8e51bd669e.css' %}">
{% endblock %}

{% block scripting %}
    <script type="text/javascript">
        window.airport_pk = {{ airport_pk }};
        window.user_id = {{ user_id }};
        window.base_redirect = {{ base_redirect }};
    </script>

    <script src="{% static 'mydist/assets/vendor-9d8cfc931c086704d3f2a2cf7c1fd707.js' %}"></script>
    <script src="{% static 'mydist/assets/dashboard-2dd7a2f7461abdaf19123b5fb33a8797.js' %}"></script>
{% endblock %}

{# The entire Ember app is nested within the below div #}
{% block content %}
    <div class="container main-header">
        <img src="{% static 'mydist/assets/images/departure-93812b7117fa4701f345d8cc7274e424.png' %}" style="height: 75px; width: 100px">
        <span class="large-inline">Airport Dashboard</span>
    </div>
    <input id="csrfmiddlewaretokennav" name="csrfmiddlewaretokennav" type="hidden" value="{{ csrf_token }}"/>
    <div id="emberRoot"></div>
{% endblock %}