{% extends 'base.html' %}

{% block head_includes %}
    <title>PrepAir</title>
{% endblock %}

{% block content %}
    <h1>DJANGO HOME PAGE</h1>

    <form class="icao-form" method="POST" action="/redirect-icao">
        <div class="input-box">
            <input type="text" placeholder="Enter 3-4 digit Airport Identifier" name="icao">
        </div>
        <div class="search-btn">
            <input type="submit" value="Search">
        </div>
        {% csrf_token %}
    </form>
{% endblock %}