{% extends 'base.html' %}

{% block head_includes %}
    <title>PrepAir</title>
{% endblock %}

{% load static %}
{% block content %}
    <div class="container">
        <div class="main-header">
            <h1>PrepAir.com</h1>
            <p>
                Or at least that could be the name of this site if I had purchased that domain...
            </p>
            <p>
                This site is built to allow users to get up-to-date flight simulating information.  Anytime a user
                searches for an airport, real-time weather information is displayed, by use of an external API.
                Additionally, if the airport searched by a user does not yet exist in this site's internal database,
                all additional static data (i.e. name, runway info, communication/frequencies, etc) is then permanently
                saved into the internal database using this site's own REST API.  The size of the internal airport
                database grows each time a user searches for a new airport.  Users can search across the
                internal database of airports for all relevant information, as well as post their own specific reports,
                or even comment on other user's experiences.
            </p>
            <p class="bold-text">
                Powered by Python/Django and Ember.js
            </p>
        </div>
        <div class="sub-header text-center">
            <h1>Airport Search</h1>

            {% if error_code %}
                <h2 class='bg-warning text-center'>{{ error_code }}:  Unable to process your request for <em>{{ icao }}</em>.  Make sure this is an active ICAO.</h2>
            {% endif %}

            {% if over_limit %}
                <h2 class='bg-warning text-center'>Sorry, this site has reached it's limit with FlightPlanDatabase.  Please try again in a few hours.</h2>
            {% endif %}

            <form class="icao-form" method="POST">
                <div class="input-box">
                    <input id="icao-input" type="text" placeholder="Enter 3-4 digit Airport ID" name="icao"
                           onkeyup="validateICAO()">
                </div>
                <div class="small-text">
                    <p>Examples: KJFK, KLAX, KORD, EGLL, etc.</p>
                </div>
                <div class="main-btn">
                    <input id="submit-btn" class="btn btn-primary" type="submit" value="Search" disabled>
                </div>
                {% if home_airport_pk %}
                    <div class="home-airport-index">
                        <a href="dashboard/airport/{{ home_airport_pk }}">Home Airport ({{ home_airport_icao }})</a>
                    </div>
                {% endif %}
                {% csrf_token %}
            </form>
        </div>

        <div class="sub-header text-center">
            <h2>Just here to browse around?  You can view airports already searched for by other users <a href="/dashboard/">here</a></h2>
            <img src="{% static "media/dark_banner.png" %}" style="margin-top: 30px;"/>
            <div class="small-text">
                <p>The data available through this site is for flight simulation use only and must not be used for real-world aviation.</p>
            </div>
        </div>
    </div>
{% endblock %}